@charset "utf-8";

body {
	font-family: sans-serif;
	text-align: center;
	background-color: #fdfdf2;
	padding-top: 70px;
}

.msg-box {
	background: white;
	padding: 40px;
	border-radius: 10px;
	text-align: center;
	width: 90%;
	max-width: 400px;
	margin: 0 auto;
}


.btn {
	display: block;
	width: 100%;
	padding: 15px;
	margin: 0 0 10px 0;
	text-decoration: none;
	border-radius: 5px;
	box-sizing: border-box;
	font-size: 1.1rem;
}

.btn-menu {
	background: #585A60;
	color: white;
}

.btn-cart {
	background: #E6331D;
	color: white;
}