@charset "utf-8";

body {
	font-family: sans-serif;
	text-align: center;
	background-color: #fdfdf2;
	padding-top: 50px;
}

img{
	margin-top: 20px;
}

.header-info {
	text-align: right;
	margin-top: 20px;
	font-size: 0.8rem;
}

.reset-link {
	color: gray;
}

.container {
	max-width: 830px;
	max-height: 518px;
	margin: 0px auto 50px auto;
	background: #fff;
	padding: 20px 20px;
	border-radius: 10px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
	color: #333;
	margin-bottom: 30px;
}

p {
	font-size: 1.1rem;
	color: #555;
}

/* カウンターのデザイン */
.counter-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 40px 0;
	gap: 20px;
}

/* ＋－ボタン */
.btn-count {
	width: 60px;
	height: 60px;
	font-size: 2rem;
	background-color: #eee;
	border: 2px solid #ddd;
	border-radius: 50%;
	/* 丸くする */
	cursor: pointer;
	color: #555;
	transition: all 0.2s;
}

.btn-count:active {
	background-color: #ddd;
	transform: scale(0.95);
}

.btn-count.plus {
	color: #E6331D;
	border-color: #E6331D;
	background: #fff;
}

.btn-count.minus {
	color: #E6331D;
	border-color: #E6331D;
}

/* 人数表示エリア（inputタグだが入力不可に見せる） */
.count-display {
	width: 100px;
	font-size: 3rem;
	text-align: center;
	border: none;
	background: transparent;
	font-weight: bold;
	color: #333;
}

/* フォーカス時の枠線を消す */
.count-display:focus {
	outline: none;
}

/* 決定ボタン */
.btn-submit {
	background-color: #E6331D;
	color: white;
	border: none;
	padding: 15px 40px;
	font-size: 1.2rem;
	border-radius: 30px;
	cursor: pointer;
	width: 100%;
	max-width: 300px;
	transition: background 0.3s;
	margin-bottom: 7%;
}

.btn-submit:hover {
	opacity: 0.9;
}