@charset "UTF-8";
html{
	height: 1000px;
}

body {
	font-family: sans-serif;
	text-align: center;
	background-color: #fdfdf2;
	padding-top: 70px;
}

.container {
	max-width: 830px;
	height: auto;
	margin: 0px auto 50px auto;
	background: #fff;
	padding: 20px 20px;
	border-radius: 10px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
	margin: 5% auto 10px auto;
}

p{
	margin: 20px auto;
}

.container .btn {
	display: inline-block;
	background-color: #E6331D;
	color: white;
	border: none;
	padding: 15px 40px;
	font-size: 1.2rem;
	border-radius: 30px;
	cursor: pointer;
	width: 100%;
	max-width: 300px;
	transition: background 0.3s;
	margin-bottom: 5%;
}

.btn:hover {
	opacity: 0.9;
}