<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>HallBeforeServlet</display-name>
    <servlet-name>HallBeforeServlet</servlet-name>
    <servlet-class>controller.HallBeforeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HallBeforeServlet</servlet-name>
    <url-pattern>/HallBeforeServlet</url-pattern>
  </servlet-mapping>
  <display-name>G14_Omris</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>OrderDetailServlet</servlet-name>
    <servlet-class>controller.OrderDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StartOrderServlet</servlet-name>
    <servlet-class>controller.StartOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>controller.CartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderHistoryServlet</servlet-name>
    <servlet-class>controller.OrderHistoryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>controller.OrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManagerServlet</servlet-name>
    <servlet-class>controller.ManagerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LineupServlet</servlet-name>
    <servlet-class>controller.LineupServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PlaceOrderServlet</servlet-name>
    <servlet-class>controller.PlaceOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MenuListServlet</servlet-name>
    <servlet-class>controller.MenuListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditProductServlet</servlet-name>
    <servlet-class>controller.EditProductServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateCartServlet</servlet-name>
    <servlet-class>controller.UpdateCartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CategoryControlServlet</servlet-name>
    <servlet-class>controller.CategoryControlServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OptionControlServlet</servlet-name>
    <servlet-class>controller.OptionControlServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddtoCartServlet</servlet-name>
    <servlet-class>controller.AddtoCartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditServlet</servlet-name>
    <servlet-class>controller.EditServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteProductServlet</servlet-name>
    <servlet-class>controller.DeleteProductServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ConfirmCountServlet</servlet-name>
    <servlet-class>controller.ConfirmCountServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProductDetailServlet</servlet-name>
    <servlet-class>controller.ProductDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminLineupServlet</servlet-name>
    <servlet-class>controller.AdminLineupServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SalesDailyServlet</servlet-name>
    <servlet-class>controller.SalesDailyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SalesProductServlet</servlet-name>
    <servlet-class>controller.SalesProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderDetailServlet</servlet-name>
    <url-pattern>/OrderDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StartOrderServlet</servlet-name>
    <url-pattern>/StartOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderHistoryServlet</servlet-name>
    <url-pattern>/OrderHistoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerServlet</servlet-name>
    <url-pattern>/ManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LineupServlet</servlet-name>
    <url-pattern>/LineupServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PlaceOrderServlet</servlet-name>
    <url-pattern>/PlaceOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MenuListServlet</servlet-name>
    <url-pattern>/MenuListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditProductServlet</servlet-name>
    <url-pattern>/EditProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateCartServlet</servlet-name>
    <url-pattern>/UpdateCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CategoryControlServlet</servlet-name>
    <url-pattern>/CategoryControlServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OptionControlServlet</servlet-name>
    <url-pattern>/OptionControlServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddtoCartServlet</servlet-name>
    <url-pattern>/AddtoCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditServlet</servlet-name>
    <url-pattern>/EditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteProductServlet</servlet-name>
    <url-pattern>/DeleteProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConfirmCountServlet</servlet-name>
    <url-pattern>/ConfirmCountServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductDetailServlet</servlet-name>
    <url-pattern>/ProductDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminLineupServlet</servlet-name>
    <url-pattern>/AdminLineupServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SalesDailyServlet</servlet-name>
    <url-pattern>/SalesDailyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SalesProductServlet</servlet-name>
    <url-pattern>/SalesProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HallCancelCompleteServlet</display-name>
    <servlet-name>HallCancelCompleteServlet</servlet-name>
    <servlet-class>controller.HallCancelCompleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HallCancelCompleteServlet</servlet-name>
    <url-pattern>/HallCancelCompleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HallCancelConfirmServlet</display-name>
    <servlet-name>HallCancelConfirmServlet</servlet-name>
    <servlet-class>controller.HallCancelConfirmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HallCancelConfirmServlet</servlet-name>
    <url-pattern>/HallCancelConfirmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HallServeCompleteServlet</display-name>
    <servlet-name>HallServeCompleteServlet</servlet-name>
    <servlet-class>controller.HallServeCompleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HallServeCompleteServlet</servlet-name>
    <url-pattern>/HallServeCompleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HallServeConfirmServlet</display-name>
    <servlet-name>HallServeConfirmServlet</servlet-name>
    <servlet-class>controller.HallServeConfirmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HallServeConfirmServlet</servlet-name>
    <url-pattern>/HallServeConfirmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HallServedServlet</display-name>
    <servlet-name>HallServedServlet</servlet-name>
    <servlet-class>controller.HallServedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HallServedServlet</servlet-name>
    <url-pattern>/HallServedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KitchenCancelCompleteServlet</display-name>
    <servlet-name>KitchenCancelCompleteServlet</servlet-name>
    <servlet-class>controller.KitchenCancelCompleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KitchenCancelCompleteServlet</servlet-name>
    <url-pattern>/KitchenCancelCompleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KitchenCancelConfirmServlet</display-name>
    <servlet-name>KitchenCancelConfirmServlet</servlet-name>
    <servlet-class>controller.KitchenCancelConfirmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KitchenCancelConfirmServlet</servlet-name>
    <url-pattern>/KitchenCancelConfirmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KitchenCompletedServlet</display-name>
    <servlet-name>KitchenCompletedServlet</servlet-name>
    <servlet-class>controller.KitchenCompletedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KitchenCompletedServlet</servlet-name>
    <url-pattern>/KitchenCompletedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KitchenCompleteServlet</display-name>
    <servlet-name>KitchenCompleteServlet</servlet-name>
    <servlet-class>controller.KitchenCompleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KitchenCompleteServlet</servlet-name>
    <url-pattern>/KitchenCompleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KitchenConfirmServlet</display-name>
    <servlet-name>KitchenConfirmServlet</servlet-name>
    <servlet-class>controller.KitchenConfirmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KitchenConfirmServlet</servlet-name>
    <url-pattern>/KitchenConfirmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KitchenServlet</display-name>
    <servlet-name>KitchenServlet</servlet-name>
    <servlet-class>controller.KitchenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KitchenServlet</servlet-name>
    <url-pattern>/KitchenServlet</url-pattern>
  </servlet-mapping>
</web-app>